@model CalendarEvent.Models.EventSchedulerViewModel
<button type="button" id="calendar-btn-back-to-month" class="btn btn-outline-secondary mb-2" title="go to calendar">
    <i class="fas fa-calendar-alt"></i>
    Calendar
</button>
<table class="table table-sm table-bordered table-hover">
    <tbody>
        @{ 
            if (Model.DataLists == null || Model.DataLists.Count == 0)
            {
                <tr><td class="text-center">No results found.</td></tr>
            }
            else
            {
                foreach (var item in Model.DataLists)
                {
            <tr style="">
                <td style="width:13rem;">
                    @CalendarEvent.Utility.TimeUtility.ConvertDateToString(item.ef.Eventdate)
                    @item.ef.StartAt.Hours.ToString("D2"):@item.ef.StartAt.Minutes.ToString("D2") - @item.ef.EndAt.Hours.ToString("D2"):@item.ef.EndAt.Minutes.ToString("D2")
                </td>
                <td style="width:20rem;" day="@CalendarEvent.Utility.TimeUtility.ConvertDateToString(item.ef.Eventdate)">
                    <span  class="btn-link btn-edit-note" style="cursor:pointer;" 
                          eventid="@item.ef.Eventid" 
                          notetitle="@item.ef.Title" 
                          notedesc="@item.ef.Description" 
                          startat="@item.ef.StartAt.Hours:@item.ef.StartAt.Minutes" 
                          endat="@item.ef.EndAt.Hours:@item.ef.EndAt.Minutes">
                          
                        @item.ef.Title
                    </span>
                </td>
                <td>
                    @item.ef.Description
                </td>
            </tr>
                    }
                }
            }
    </tbody>
</table>